body {
  background-color: #335;
}

h1 {
  color: white;
  text-align: center;
}

figure {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  position: relative;
}

img {
  border: 3px solid white;
  width: 250px;
  height: auto;
  margin: 10px;
  vertical-align: middle;
}

figcaption {
  background-color: black;
  color: white;
  opacity: 80%;
  padding: 5px;
  position: absolute;
  visibility: hidden;
  width: 250px;
  height: auto;
  z-index: 1;
}
