@import "font-awesome/css/font-awesome.min.css";

* {
  box-sizing: border-box;
}

body {
  background-color: royalblue;
  color: white;
  text-align: center;
}

main {
  color: black;
  height: 500px;
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

#controls {
  background-color: lightgray;
  height: 30px;
}

button {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

button.active {
  background-color: white;
}

i {
  margin: 5px;
}

#text {
  background-color: white;
  height: 470px;
  padding: 5px;
}
