body {
  background: teal;
}

h1 {
  text-align: center;
  color: #fff;
}

#languages {
  box-sizing: border-box;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
}

a {
  background-color: purple;
  color: white;
  text-decoration: none;
}
